{% extends "layout.html" %}
{% block body %}

              <div class="container card card-body mt-2">
              <form action="/add_post" method="POST">
                <div class="form-group">
                  <input type="text" class="form-control" name="technology" placeholder="Technology">
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="post"  id="post" row="7" placeholder="Post"></textarea>
                </div>
                <button class="btn btn-primary btn-block">
                  Save
                </button>
              </form>
            </div>


{% endblock %}